/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5ada9c;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

/* Container Styles */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="date"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.actions .btn {
    padding: 8px 16px;
    background-color: hsl(151, 84%, 60%);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

li{
    list-style: none;
}



.actions .btn:hover {
    background-color: #0056b3;
}

form a {
    text-decoration: none;
}

/* Buttons and Actions */
.actions form {
    display: inline-block;
    margin-left: 10px;
}

.actions button {
    background-color: #f44336;
    border-radius: 4px;
}

.actions button:hover {
    background-color: #e53935;
}

/* Styling for the Patient Table */
.table-responsive {
    overflow-x: auto;
}

.container a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container a:hover {
    background-color: #005f73;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    table, th, td {
        font-size: 14px;
    }

    button, .actions .btn {
        font-size: 14px;
        padding: 8px 12px;
    }
}
